/*Cabecera*/
.dietas{
	color: rgb(0, 0, 0);
	font-family: cursive;
	font-size: xx-large;
	text-align: center;
}
/*Body*/

body {
    display: grid;
    grid-template-rows: auto auto auto auto; 
    background-image: url(../imagenes/hospitalgeneral.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    margin: 0;
}

/*Header*/

header {
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    grid-column: 1/3;
    display: grid;
    height: 200px;
    text-align: center;
    background: url("../imagenes/hospital_gif.gif");
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    grid-row: 1;
}
header > .image1 {
    grid-column: 3;
    grid-row: 1/2;
    width: 5em;
    height: 50%;
}

header > .imagenhospital {
    border: 10px;
    display: grid;
    align-self: center;
    
}

/*Imagen Comunidad de Madrid*/
.hospital {
    width: 475px;
    height: 100%;
    text-align: right;
    margin: 0;
    z-index: 5;
    grid-column: 1;
    
}
/*Navar*/
.navegacion ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
nav{
	grid-column: 1/3;
	position: sticky;
	top: 10px;
	bottom: 100%;
	z-index: 5;
    margin: 0;
    background-color: #d10002;
    grid-row: 2;
}
ul li:hover{
	background-color: #d10002;
	text-decoration: none;
}

.navegacion{
	width: 100%;
	font-size: medium;
    position: sticky;
	top: 0px;
	bottom: 100%;
    text-align: center;
    display: grid;
    grid-template-columns: 33% 47% 20%;
}
.boton_registro {
    display: grid;
    grid-column: 3;
    
    margin: auto;
    margin-top: 7.5% ;
}
.navegacion ul{
	list-style: none;
    align-self: center;
}
ul.menu {
    margin: 1em;	
}
.menu > li{
	position: relative;
	display: inline-block;
}
.menu > li > a{
	display: block;
	padding: 15px 20px;
	color: #ffffff;
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	text-decoration: none;
}
.menu li a:hover{
	color: #000000;
	transition: all 0.7s;
    text-decoration: underline 2px;
}
.sumenu{
	position: absolute;
	width: 120%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
    z-index: 5;
} 
.sumenu li a{
	display: block;
	padding: 15px;
	color: #ffffff;
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	text-decoration: none;
    background-color: #d10002;
}
.menu li:hover .sumenu{
	visibility: visible;
	opacity: 1;
}

.menu button {
    background: #d10002;
  border: 0px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  font-size: medium;
}
.menu button:hover{
    text-decoration: underline 2px;
    transition: all 0.7s;
    color: #000000;
}
/*Main*/

main{
    display: grid;
    grid-row: 3;
    grid-column: 1/3;
    grid-template-rows: auto auto auto auto auto auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed ;
    width: 100%;
}
/*Titulo calculadora*/

.enunciado {
    grid-row: 1;
    text-align: center;
    font-size: 35px;
    grid-column: 1/2;
    color: #ffffff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/*Genero*/

.genero {
    display: grid;
    grid-row: 2;
    grid-template-columns:auto  auto;
    grid-template-rows: auto auto;
    background-color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.genero .mujer {
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-template-rows: auto auto;
}
.genero .hombre {
    grid-column: 1;
    grid-row: 2;
    display: grid;
    grid-template-rows: auto auto;
}
.hombre p {
    text-align: left;
}
.hombre .sexoh {
    grid-row: 2;
    align-self: center;
    text-align: right;
    margin-right: 40px;
}
.mujer .sexom {
    grid-row: 2;
    align-self: center;
    text-align: left;
    margin-left: 40px;
}
.hombre img {
    width: 150px;
    height: auto;
    margin-left: auto;
    border-right: 1px solid #000;
    margin-top: 20px;
}
.mujer img {
    width: 150px;
    height: auto;
    margin-right: auto;
    margin-top: 20px;
}

/*Peso*/

.peso_talla img {
    width: 150px;
    height: auto;
    margin: auto;
    
    margin-top: 20px;
}

.peso_talla {
    grid-row: 3;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    background-color: rgb(92, 169, 204);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.peso {
    grid-column: 1;
    display: grid;
    grid-template-rows: auto auto;
    text-align: center;
}
/*Edad, Altura*/
.edad {
    grid-column: 2;
    display: grid;
    grid-row: auto auto;
    text-align: center;
}

.altura {
    display: grid;
    grid-column: 3;
    grid-template-rows: auto auto;
    text-align: center;
}

/*Cantidad de ejercicio que realiza a la semana*/

.tipo_ejercicio img {
    width: 100%;
    height: auto;
    margin: auto;
}

.tipo_ejercicio h5 {
    font-size: 20px;
    text-decoration: underline black 1px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    grid-column: 3;
}

.tipo_ejercicio {
    grid-row: 4;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto auto auto auto;
    background-color: rgb(94, 143, 165);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.tipo_ejercicio .sedentario {
    grid-column: 1;
    grid-row: 2;
    display: grid;
    grid-template-rows:auto auto ;
}
.tipo_ejercicio > .sedentario > p {
    text-align: center;
    align-self: center;
    grid-row: 2;
}

.tipo_ejercicio .ligero {
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-template-rows: auto auto;
}

.tipo_ejercicio > .ligero > p {
    text-align: center;
    align-self: center;
    grid-row: 2;
}

.tipo_ejercicio .moderado {
    grid-column: 3;
    grid-row: 2;
    display: grid;
    grid-template-rows: auto auto ;
}

.tipo_ejercicio > .moderado > p {
    text-align: center;
    align-self: center;
    grid-row: 2;
}

.tipo_ejercicio .activo {
    grid-column: 4;
    grid-row: 2;
    display: grid;
    grid-template-rows: auto auto ;
}

.tipo_ejercicio > .activo > p {
    grid-row: 2;
    text-align: center;
    align-self: center;
}

.tipo_ejercicio img {
    width: 15em;
    height: 10em;
    margin: auto;
    margin-top: 10px;
}

.tipo_ejercicio .deportista {
    grid-column: 5;
    grid-row: 2;
    display: grid;
    grid-template-rows: auto auto ;
}

.tipo_ejercicio > .deportista > p {
    grid-row: 2;
    text-align: center;
    align-self: center;
}

/*Boton de calcular y reiniciar*/
.botones {
    grid-row: 5;
    margin-top: 10px;
    text-align: center;
}

/*Titulo de resultados y posicion de calculadora*/

.calculadora {
    grid-row: 6;
    display: grid;
    grid-template-rows: auto auto auto;
    display: none;
}

.calculadora h2 {
    grid-row: 1;
    text-align: center;
    font-size: 50px;
    text-decoration: underline #ffffff;
    color: #fff;
}

/*Calculador*/

/*Resultado por idea de perder, ganar o mantener peso*/

.funcion {
    grid-row: 2;
    display: grid;
    grid-template-columns: auto auto auto;
    border-left: #000 solid 1px;
    border-right: #000 solid 1px;
    text-align: center;
    background-color: cornflowerblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.funcion .ganar {
    grid-column: 1;
    display: grid;
    grid-row: auto auto auto;
}

.ganar h3 {
    grid-row: 1;
    text-align: center;
}

.funcion .mantener {
    grid-column: 2;
    display: grid;
    grid-row: auto auto auto;
    border-left: #000 solid 1px;
    border-right: #000 solid 1px;
}
.mantener h3 {
    grid-row: 1;
    text-align: center;
}
.funcion > .mantener > img  {
    margin: auto;
    width: 74%;
    height: auto;
    margin-bottom: 10px;
}
.funcion .perder {
    grid-column: 3;
    display: grid;
    grid-row: auto auto auto;
}
.perder h3 {
    grid-row: 1;
    text-align: center;
}
.funcion img {
    margin: auto;
    width: 70%;
    height: auto;
}
/*Por periodo del día*/

.periodo {
    grid-row: 3;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    border: #000 1px solid;
    background-color:skyblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.periodo .desayuno {
    grid-column: 1;
    text-align: center;
    border-right: #000 1px solid;
}

.periodo .media {
    grid-column: 2;
    text-align: center;
    border-right: #000 1px solid;
}
.periodo .comida {
    grid-column: 3;
    text-align: center;
    border-right: #000 1px solid;
}

.periodo .merienda {
    grid-column: 4;
    text-align: center;
    border-right: #000 1px solid;
}

.periodo .cena {
    grid-column: 5;
    text-align: center;
    
}
/*Campo de las calorias*/

.caloria {
    font-size: larger;
    margin-bottom: 0%;
    border-top: #000 1px solid;
    border-bottom: #000 1px solid;
    align-self: center;
    padding-top: 10px;
    background: #d10002;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*Boton Calcular y resetear*/

.boton {
    background-color: #d10002;
    height: 50px;
    font-family: cursive;
    color: #fff;
    border-radius: 15px;
    transition: all 1s;
}
.boton:hover {
    background-color: aliceblue;
    color: #d10002;
    transition: all 1s;
}
input {
    background-color: #d10002;
    border: #000 1px solid;
    color: white;
    text-align: center;
}

/*Footer*/

.footer {
    background-color: #d10002;
    padding: 0px 0;
    display: grid;
    grid-column: 1/3;
    grid-row: 4;
    margin-top: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.cont {
    max-width: 1170px;
    background-color: #d10002;
    margin: auto;
}
.contenedor {
    width: 25%;
    padding: 0 15px;
}
.fila {
    display: flex;
    flex-wrap: wrap;
}
.contenedor h4, .fila > .contenedor > ul {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 30px;
}
.contenedor ul li:not(:last-child){
    margin-bottom: 10px;
}
.contenedor ul li a, .fila > .contenedor > ul > a{
    font-size: 16px;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 300;
    color: #ffffff;
    display: block;
    transition: all 0.3s ease;
}
.contenedor ul li a:hover, .fila > .contenedor > ul > a:hover{
    color: #000000;
    padding-left: 0px ;
    text-decoration: underline;
    transition: all 0.5s;

}
.footer p{
    width: 390px;
    margin: auto;
    padding: 7px;
    text-align: center;
    font-size: large;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
}

footer .parrafos {
    background-color:mediumblue;
}
/*CSS Modal: https://www.youtube.com/watch?v=9guclqCu6Hc&ab_channel=JuanSebasti%C3%A1nHerreraCarvajal*/
.iniciosesion {
    width: auto;
    height: auto;
    top: 100;
    bottom: 100;
    right: 80;
    left: 80;
    transition: 0.3 all ease;
    text-align: center;
    justify-content: center;
    position: fixed;
    margin-left: 500px;
    margin-right: 500px ;
    border-radius: 20px;
    box-shadow: 0 3px 5px 0px;
}

.iniciosesion p{
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.iniciosesion h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline #000 2px;
}
.iniciosesion button {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #d10002;
}
.iniciosesion button:hover {
    background-color: #9a19b4;
}
.iniciosesion input{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: #fff;
    color: #000;
    border: #000 1px solid;
}

/*Media query para a la hora de hacer más pequeña la pantalla*/
@media screen and (max-width: 700px) {
    .iniciosesion {
        margin-left: auto; 
        margin-right: auto;
    }
    header {
        display: none;
    }
    nav .boton_registro{
        display: none;
    }
    nav{
        height:95%;
    }
    main .cont_fecha {
        top:40;
    }
    .hospital {
        width: 100%;
        height: auto;
    }
}
/*Favicons*/

:root{
    --facebook: #3b5999;
    --instagram: #d75d90;
    --twitter: #0f0f0f;
    --youtube: #ff0000;
    --linkedin: #0a66c2;
}

.redessociales {
    display: flex;
    background-color: #d10002;
    height: 100px;
    align-items: center;
    justify-content: center;
    position: sticky;
    bottom: 0;
}

.redessociales ul li {
    display: inline-block;
    margin: 0 5px;
    width: 50px;
    height: 30px;
    text-align: center;
}

.redessociales ul li a {
    display: block;
    padding:0 10px;
    background-color: #808080;
    color: #ffffff;
    line-height: 50px;
    font-size: 18px;
    box-shadow: 0 3px 5px 0px;
    transition: 0.4s;
}

.redessociales ul:hover a{
    filter:blur(1px);
}

.redessociales ul li a:hover {
    transform: translateY(-3px) scale(1.5);
    filter: none;
}

.redessociales ul li .facebook {
    background-color: var(--facebook);
}
.redessociales ul li .instagram {
    background-color: var(--instagram);
}
.redessociales ul li .twitter {
    background-color: var(--twitter);
}
.redessociales ul li .youtube{
    background-color: var(--youtube);
}
.redessociales ul li .linkedin{
    background-color: var(--linkedin);
}
