/*Body*/

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 0.5fr 1fr;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/*Imagen Hospital*/

a {
    grid-row: 1;
    grid-column: 2;
    width: 500px;
    height: 10em;
}
a img {
    width: 100%;
    height: 100%;
}
.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-column: 2;
    grid-row: 2;
    margin-bottom: 100px;
}

/*Formulario*/

form {
    display: grid;
    flex-direction: column;
    grid-template-columns: 0.5fr 1fr;
}


/*Estilos label e Input formulario*/

.verif_contrl {
    grid-column: 1;
    grid-row: 4;
    text-align: center;
}
.dnil{
    grid-column: 1;
    grid-row: 2;
    text-align: center;
}
.contrasenal {
    grid-column: 1;
    grid-row: 3;
    text-align: center;
}
.verif_contr {
    grid-column: 2;
    grid-row: 2;
}
#dni{
    grid-column:2 ;
    grid-row: 2;
}
.contrasena {
    grid-column: 2;
    grid-row: 3;
}
.verif_contr {
    grid-column: 2;
    grid-row: 4;
}
label {
    padding: 5px;
}

input {
    padding: 8px;
    margin-bottom: 5px;
    border: 1px solid #ccc; 
}
/*Estilos botón*/
button {
    background-color: #d12424;
    color: #fff;
    padding: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    grid-column: 1/3;
    margin-top: 20px;
    grid-row: 5;
}

button:hover {
    background-color: #2d35a3;
}

input.correcto {
    border-color: #2d35a3; 
}

input.incorrecto {
    border-color: #FF0000  
}
/*Control de errores*/
.validar-icono {
    display: inline-block;
    margin-left: 5px;
    font-size: 16px;
    vertical-align: middle;
}

.validar-icono.correcto::before {
    content: "\2713"; 
    color: #3c2dc0;
}

.validar-icono.incorrecto::before {
    content: "\2717"; 
    color: #FF0000;
}

.robot {
    grid-row: 5;
    grid-column: 1/3;
    text-align: center;
}
/*Sacado de Youtube: https://youtu.be/8nm9WPptL0c?si=XRXdnEUw17DXZX4L*/
.cargador {
    border: 20px solid rgba(0, 0, 0, 0.1);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border-left-color: #d10002;
    animation: carga 2s linear infinite;
    margin-left: 15%;
    display: block;
    display: none;
  }
  @keyframes carga{
    0%{
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(360deg);
    }
  }

 main p{
    text-align: center;
    font-size: 20px;
    margin-bottom: 30px;
    color: #000000;
    font-family: Arial, sans-serif;
}

.error{
    color:#d10002;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: medium;
    grid-column: 1/3;
    width: 100%;
}