/*Cuerpo*/

body {
	display: grid;
	grid-template-columns: 33% 67% ;
    grid-template-rows: auto auto 1fr auto;
    margin: 0%;
}

/*Header*/

header {
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    grid-column: 1/3;
    grid-template-columns: 50% 50%;
    display: grid;
    height: 200px;
    text-align: center;
    background: url("../imagenes/hospital_gif.gif");
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    grid-row: 1;
}

header > h1 {
    grid-column: 2/3;
    grid-row: 1/2;
    display: grid;
    text-align: center;
    align-self: center;
}

header > .imagenhospital {
    border: 10px;
    display: grid;
    align-self: center;
    
}
/*Imagen Comunidad de Madrid*/
.hospital {
    width: 475px;
    height: 100%;
    text-align: right;
    margin: 0;
    z-index: 5;
    grid-column: 1;
    
}

/*Navar*/
.navegacion ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

nav{
	grid-column: 1/3;
	position: sticky;
	top: 10px;
	bottom: 100%;
	z-index: 5;
    margin: 0;
    background-color: #d10002;
    grid-row: 2;
    width: auto;
}
/*Al hacer hover sobre los elementos de las listas que se ponga un background rojo y que quite la decoración del texto*/
ul li:hover{
	background-color: #d10002;
	text-decoration: none;
}

.navegacion{
	font-size: medium;
    position: sticky;
	top: 0;
	bottom: 100%;
    text-align: center;
    display: grid;
    grid-template-columns: 33% 47% 20%;
}
@media (max-width: 1400px) {
    body {
        margin-top: 0;
    }
    nav{
        width: auto;
       
    }
    .hospital {
        width: 100%;
        height: auto;
    }
    img {
        width: auto;
        height: auto;
    }

}
@media screen and (max-width: 700px) {
    header {
        display: none;
    }
    nav .boton_registro{
        display: none;
    }
    nav{
        height:95%;
    }
    main .cont_fecha {
        top:40;
    }
}

.articulo {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.boton_registro {
    display: grid;
    grid-column: 3;
    width: auto;
    margin: auto;
    margin-top: 7.5% ;
}

.navegacion ul{
	list-style: none;
    align-self: center;
}

ul.menu {
    margin: 1em;	
}

.menu > li{
	position: relative;
	display: inline-block;
}

.menu > li > a{
	display: block;
	padding: 15px 20px;
	color: #ffffff;
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	text-decoration: none;
}

.menu li a:hover{
	color: #000000;
	transition: all 0.7s;
    text-decoration: underline 2px;
}

.sumenu{
	position: absolute;
	width: 120%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
    z-index: 5;
} 

.sumenu li a{
	display: block;
	padding: 15px;
	color: #ffffff;
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	text-decoration: none;
    background-color: #d10002;
}

.menu li:hover .sumenu{
	visibility: visible;
	opacity: 1;
}

.menu button {
    background: #d10002;
  border: 0px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  font-size: medium;
}
.menu button:hover{
    text-decoration: underline 2px;
    transition: all 0.7s;
    color: #000000;
}
/*Main*/

main {
    grid-column: 1/3;
    grid-row: 3;
}

/*Footer*/

.contenedor > ul > li, .fila > .contenedor > ul{
    list-style-type: none;
}

.footer {
    background-color: #d10002;
    padding: 0px 0;
    display: grid;
    grid-column: 1/3;
    grid-row: 4;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.cont {
    max-width: 1170px;
    background-color: #d10002;
    margin: auto;
}

.contenedor {
    width: 25%;
    padding: 0 15px;
}

.fila {
    display: flex;
    flex-wrap: wrap;
}

.footer li{
    list-style: none;
}
.contenedor h4, .fila > .contenedor > ul {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 30px;
    padding: 10px;
}

.contenedor ul li:not(:last-child){
    margin-bottom: 10px;
}

.contenedor ul li a, .fila > .contenedor > ul{
    font-size: 16px;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 300;
    color: #ffffff;
    display: block;
    transition: all 0.3s ease;
}

.contenedor ul li a:hover, .fila > .contenedor > ul:hover{
    color: #000000;
    padding-left: 0px ;
    text-decoration: underline;
    transition: all 0.5s;

}

.footer p{
    width: 390px;
    margin: auto;
    padding: 7px;
    text-align: center;
    font-size: large;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
}

footer .parrafos {
    background-color:mediumblue;
}


/*Favicons*/

:root{
    --facebook: #3b5999;
    --instagram: #d75d90;
    --twitter: #0f0f0f;
    --youtube: #ff0000;
    --linkedin: #0a66c2;
}

.redessociales {
    display: flex;
    background-color: #d10002;
    height: 100px;
    align-items: center;
    justify-content: center;
    position: sticky;
    bottom: 0;
}

.redessociales ul li {
    display: inline-block;
    margin: 0 5px;
    width: 50px;
    height: 30px;
    text-align: center;
}

.redessociales ul li a {
    display: block;
    padding:0 10px;
    background-color: #808080;
    color: #ffffff;
    line-height: 50px;
    font-size: 18px;
    box-shadow: 0 3px 5px 0px;
    transition: 0.4s;
}

.redessociales ul:hover a{
    filter:blur(1px);
}

.redessociales ul li a:hover {
    transform: translateY(-3px) scale(1.5);
    filter: none;
}

.redessociales ul li .facebook {
    background-color: var(--facebook);
}
.redessociales ul li .instagram {
    background-color: var(--instagram);
}
.redessociales ul li .twitter {
    background-color: var(--twitter);
}
.redessociales ul li .youtube{
    background-color: var(--youtube);
}
.redessociales ul li .linkedin{
    background-color: var(--linkedin);
}

/*Reloj*/

.cont_fecha {
    background-color:#0199cb;
    text-align: center;
    width: 100%;
    position: sticky; 
    top: 120px;
	bottom: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#reloj {
    font-size: 25px;
    display: inline;
}

#fecha {
    font-size:18px;
    display: inline;
    padding-left: 50px;
}

/*Noticias del index*/

.articulo {
    border:1px solid black;
    height: auto;
    width:auto;
    display:grid;
    grid-template-columns: auto auto;
    padding:5%;
    background-image: url("../imagenes/hospitalgeneral.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}

.articulo p{
    grid-column: 2;
    grid-row:1;
    padding-left:2%;
    color: white;
    font-size:25px;
    background-color:#0f2b645c;
    width: 90%;
    
}

.hospitalart {
        height:200px;
        width: 200px;
        margin-top:20px;
        margin-right: 10px;
        
}

.articulo h1 {
    grid-column:2;
    grid-row:1;
    padding-left: 3%;
    color: rgb(255, 255, 255);
    background: linear-gradient(to right, rgba(26, 26, 159, 0.495), pink);
    width:89%;
}

.articulo hr {
    margin: 4%;
    height: 3px;
    color: rgb(0, 0, 0);
    background: #ffffff;
}
/*Galería de imágenes con enlaces: https://www.youtube.com/shorts/8Rc18lfl68c*/

.noticias {
    margin-top: 100px;
    display: flex;
    width: 100%;
    height: 430px;

}

.noticias img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: 0.8;
    transition: 0.5s ease;   
}

.noticias img:hover {
    width: 300px;
    opacity: 1;
    filter: contrast(100%);
}

.noticias a {
    display: flex;
    flex-grow: 1;
}

/*Distorisión enlaces de Paginas en Index*/
.noticias .enlaces{
    transition: all 0.5s ease;
}

.filtro_distorsionado{
    filter: blur(5px);
}

/*Noticia index -- Sacado de Youtube: https://www.youtube.com/watch?v=ogiaTnas2-A*/

.noticias2 {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
/*Le damos un margen general de 150px, le decimos que ocupe un 70% del total de la página, le decimos que tenga un tipo de familia de fuente*/
.noticias21 {
    margin: 150px;
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.noticias21 img {
    max-width: 320px;
    float: left;
    border-radius: 10px;
    margin-right: 10px;
}

.noticias211 p {
    margin-top: 50px;
    color: rgb(0, 0, 0);
    font-size: 16px;
    width: 100%;
} 

.noticias211 h2{
    font-size: 50px;
    color: rgb(0, 0, 0);
}

.noticias211 h3{
    font-size: 25px;
    color: rgb(0, 0, 0);
}

.texto {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    width: 100%;
}

.p1 {
    border-right: #000000 1px solid;
    grid-column: 1;
    text-align: justify;
    padding-right: 10px;
}

.p2 {
    margin-left: 10px;
    grid-column: 3;
    padding-left: 10px;
    text-align: justify;
}
